<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/headercat') %>

            <section class="carrito">
                <div class="contenedor-productos">
                    <div class="producto-carrito">
                        <img src="../image/Bikes/Ebikes/cube.jpg" width="100%">
                        <div class="descripcion-producto">
                            <div class="detalle-producto">
                                <span>E-Bike Cube</span>
                                <spam>165.459$</spam>
                                <span>X2</span>
                            </div>
                            <a href="../products/product">Ver producto</a>
                        </div>
                    </div>

                    <div class="producto-carrito">
                        <img src="../image/Bikes/Ebikes/cube.jpg" width="100%">
                        <div class="descripcion-producto">
                            <div class="detalle-producto">
                                <span>E-Bike Cube</span>
                                <spam>165.459$</spam>
                                <span>X2</span>
                            </div>
                            <a href="../products/product">Ver producto</a>
                        </div>

                    </div>


                    <div class="producto-carrito">
                        <img src="../image/Bikes/Ebikes/cube.jpg" width="100%">
                        <div class="descripcion-producto">
                            <div class="detalle-producto">
                                <span>E-Bike Cube</span>
                                <spam>165.459$</spam>
                                <span>X2</span>
                            </div>
                            <a href="../products/product">Ver producto</a>
                        </div>

                    </div>

                </div>

                <div class="banner-carrito">

                    <span>No te quedes sin el producto del dia</span>
                </div>


                <div class="check-out">
                    <h3>Total: xxx.xxx</h3>
                    <button type="submit">Pagar</button>
                </div>
            </section>



            <%- include('../partials/footer') %>
    </body>

</html>