<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>
    <section class = "creacion">
            <h1>Crearcion de producto</h1>
            <form class = "creacion-producto" method="POST" action="">
                <span>Coloque la foto principal</span>
                <input name = "foto-principal" type = "file" class = "foto-principal" >
                <span>Coloque las fotos secundarias</span>
                <input name = "fotos-secundarias" type="file" class = "fotos-secundarias"> 
                <span>Ingrese descripcion bajo fotos</span>
                <textarea placeholder="Ingrese texto aqui"></textarea>
                <span>Nombre</span>
                <input type = "text" name = "nombreProducto">
                <span>Ingrese descripcion del prodcuto</span> 
                <textarea placeholder="Ingrese texto aqui"></textarea>
                <span>Precio</span>
                <input type = "number" name = "precioProducto">
                <span>Talles</span>
                <input type = "text" name = "tallesProducto" placeholder="ej: 24,26,28">
                <span>Colores</span>
                <input type = "text" name = "tallesProducto" placeholder="ej: Amarillo,Negro,Blanco">
                <div class="botones-creacion">
                <button type="submit">Crear</button>
                <button type="reset">Resetear</button>
                </div>
            </form>
    </section>

        <%- include('../partials/footer') %>
</body>

</html>